h1 {
    display: flex;
    justify-content: center;
    background-color: red;
}

form {
    display: flex;
    justify-content: center;
}

#log {
    display: flex;
    align-items: center;
}

input {
    border: none;
    background: #f5f5f500;
    border-bottom: 0.1rem solid black;
}

.check {
    border-radius: 50%;
    color: #f5f5f500;
}

#submit {
    border-radius: 50%;
}