<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jaya Engineering College</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='admin/style.css') }}">
</head>

<body>
    <img src="" width="" height="" alt="Jaya Engineering College">
    <h1>Jaya Engineering College</h1>
    <div class="container">
        <form action="">
            <h2 id="log">login</h2>

            <img src="" alt="teacher"><img src="" alt="parent"><img src="" alt="parent">

            <label>Username</label>
            <input type="text" placeholder="Enter your username">

            <label>Password</label>
            <input type="password" placeholder="Enter your password">

            <input type="checkbox" class="check">Remember me
            <button type="submit" id="submit">LogIn</button>

        </form>

    </div>

</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>