<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="{{ url_for('static', filename='dist/js/core.js') }}"></script>
    {% block scripts %}{% endblock scripts %}
    {% block css %}{% endblock css %}
    {% block fonts %}{% endblock fonts %}
</head>

<body>
    {% block content %} <h1>Base</h1>{% endblock content %}
</body>
{% block additional_scripts %} {% endblock additional_scripts %}

</html>